/* src/styles/Edit-note-modal.css */

.edit-note-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-note-modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.edit-note-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.edit-note-modal-content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-note-modal input,
.edit-note-modal textarea {
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-note-modal textarea {
    min-height: 100px;
    min-width: 400px;
}

.edit-note-modal-tags {
    display: flex;
    margin: 10px 10px;
    justify-content: flex-start;
}

.edit-note-modal-tag {
    display: flex;
    padding: 6px;
    margin-right: 8px;
    background: #eee;
    border-radius: 10px;
    align-items: center;
}

.edit-note-modal-tag span {
    padding: 0;
    margin: 0 4px;
    font-size: 10px;
}

.edit-note-modal-tag button {
    margin: 0 4px;
    padding: 0;
    border: none;
}

.edit-note-modal-props {
    display: flex;
    margin: 20px 10px 10px;
    justify-content: space-between;
}

.edit-note-modal-props select {
    margin-left: 5px;
}

.edit-note-modal-add, .edit-note-modal-cancel {
    color: #fff;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-note-modal-select {
    color: #fff;
    background-color: #95a5a6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-note-modal-select:hover {
    background-color: #7f8c8d;
}

.edit-note-modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-note-modal-add {
    background-color: #4caf50;
}

.edit-note-modal-cancel {
    background-color: #e74c3c;
}

.edit-note-modal-add:hover {
    background: #45a049;
}

.edit-note-modal-cancel:hover {
    background-color: #c0392b;
}

/* Add styles for the SelectTagModal if needed */

