.note-list {
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.header button {
    background-color: rgb(253 239 199);
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 15px;
    color: black;
    border: none;
    cursor: pointer;
}

.search-bar-container {
    display: flex;
    width: 100%;
}

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
    margin: 10px 15px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sort-button-container {
    display: flex;
    margin: 0 20px;
    justify-content: flex-end;
}

.sort-button-container button {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 15px;
    color: black;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.note-list-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.note-list-container-title {
    display: flex;
    align-items: center;
    color: rgb(150, 150, 150);
    margin-bottom: 3px;
    font-size: 14px;
}

.note-list-container-title p{
    margin-left: 3px;
}

.pin-note-items, .unpin-note-items {
    display: flex;
    flex-wrap: wrap;
    min-height: 242px;
}

.note-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px 20px 0;
    width: 230px;
    height: 220px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-item-header-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px; /* 원하는 길이로 조절하세요 */
}

.note-item-header-right {
    display: flex;
    align-items: center;
}

.note-item-priority {
    font-size: 12px;
    margin-right: 5px;
}

.note-item-pin {
    color: #fff;
    border: none;
    width: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.note-item-content-box {
    margin-top: 10px;
    height: 100px;
    overflow-y: auto;
}

.note-item-content {
    margin-top: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-item-tags {
    display: flex;
    margin: 4px 0;
    justify-content: flex-start;
    overflow-x: auto;
}

.note-item-tags div {
    display: flex;
    padding: 4px;
    font-size: 8px;
    margin-right: 4px;
    background: rgba(230, 230, 230, 0.4);
    border-radius: 10px;
    align-items: center;
}

.note-item-footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.note-item-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.note-item-id {
    font-size: 12px;
    color: #888;
}

.note-item-edit-button,
.note-item-delete-button {
    color: #fff;
    width: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.note-item-edit-button {
    margin-right: 5px;
}

.no-note-container {
    display: flex;
    justify-content: center;
}
